/* Styles Go here */
@import url("https://fonts.cdnfonts.com/css/stella-nova");
@import url("https://fonts.googleapis.com/css?family=Special+Elite");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #eae3e3;
  font-family: "Quicksand", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  padding-bottom: 5rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.Nav-parent-container {
  display: flex;
  justify-content: flex-start;
  background-color: white;
  padding: 1rem 2rem;
  border-bottom: 1px solid #ccc;
  gap: 2rem;
  padding-left: 7.5%;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.Nav-parent-container h1 {
  color: #0290ff;
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.nav-container {
  font-size: large;
  width: 30%;
  display: flex;
  align-items: center;
  gap: 10%;
  margin: 0;
  padding: 0;
  opacity: 0.6;
}

.nav-container li:hover {
  text-decoration: underline;
  font-weight: bolder;
}

.nav-container li:focus {
  color: #030000;
  font-weight: bolder;
}

.nav-container li:active {
  font-weight: bolder;
}

.link-active {
  text-decoration: underline;
  color: black;
  font-weight: 800;
}

.user_icon {
  color: #0290ff;
  display: inline-flex;
  align-items: center;
  margin-left: auto;
  margin-right: 4rem;
}

.fa-icon {
  width: 4rem;
  height: 2rem;
}

.books-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 85%;
  font-size: larger;
  padding: 0;
}

.book {
  background-color: white;
  display: flex;
  align-items: center;
  gap: 2%;
  margin-bottom: 2%;
  padding: 2% 4%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
}

.title {
  align-self: flex-start;
  font-family: "Roboto Slab", serif;
  font-size: 1.375rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #121212;
}

.line {
  width: 0.055rem;
  height: 4.375rem;
  margin: 1.125rem 3.688rem 0 4.938rem;
  border: solid 1px #b9b7b728;
  background-color: #e8e8e8;
}

.book_progress {
  display: flex;
  gap: 1rem;
}

.progress {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.book-chapter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1vh;
}

.update-progress {
  width: 11.5rem;
  height: 2.063rem;
  font-size: 0.813rem;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border-radius: 3px;
  background-color: #0290ff;
  outline: none;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
}

.current-chapter {
  opacity: 0.5;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-transform: uppercase;
  color: #121212;
}

.current-lesson {
  color: #121212;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: -0.4px;
}

.Percentage {
  color: #121212;
  font-size: 2.2rem;
}

.text-completed {
  font-weight: normal;
  letter-spacing: normal;
  opacity: 0.6;
  font-size: 0.875rem;
  color: #121212;
}

.comments,
.remove,
.edit,
.author {
  margin: 0.188rem 5% 0 0;
  font-size: 0.875rem;
  font-weight: 300;
  font-family: "Roboto Slab", serif;
  letter-spacing: normal;
  color: #4386bf;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  background-color: transparent;
}

.book-actions {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  gap: 2%;
}

.book-buttons {
  display: flex;
  justify-content: center;
  gap: 5%;
  margin: 0 auto;
  width: 30%;
}

.line-2 {
  width: 0.125rem;
  height: 1.2rem;
  margin: 2%;
  border: solid 1px #e8e8e8;
}

hr {
  margin: 0 7.5%;
  color: #e8e8e8;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 0 auto;
  gap: 1.5vh;
  align-items: flex-start;
}

.form-title {
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: -0.18px;
  color: #888;
}

form {
  display: flex;
  gap: 2vw;
  max-width: calc(100vw - 4rem);
}

.add-book-title {
  border-radius: 4px;
  font-family: Montserrat, sans-serif;
  border: solid 1px #e8e8e8;
  padding: 0.8rem 1rem;
  width: 59.5vh;
  background-color: #fff;
  font-size: 1rem;
}

.add-book-author {
  padding: 0.8rem 1rem;
  width: 25vw;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: -0.15px;
}

.add-btn {
  width: 15vw;
  height: 2.813rem;
  border-radius: 3px;
  background-color: #0290ff;
  outline: none;
  border: none;
  font-family: "Roboto Slab", sans-serif;
  font-size: 0.813rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.add-btn:hover {
  color: #0290ff;
  background-color: white;
  border: 2px solid #0290ff;
}
